*{
    margin: 0;
    padding: 0;
    font-family: 'Akaya Telivigala', cursive;
}
body{
    background-image: url('clothes.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* navBar */
.img-top{
    width: 40px;
    margin: 10px;
}
nav{
    font-size: 25px;
}
.nav-button{
    margin-right: 10px;
}

/* index.html */
.principal{
    margin-top: 40vh;
    margin-bottom: 50vh;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: white;
}
/* ubicacion */
.ubicacion{
    margin-top: 100px;
    margin-bottom: 30vh;
}
/* quienes somos */
.quienesSomos{
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 20px;
    padding: 20px;
}
/* tarifas */
.tarifas{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
@media (max-width: 600px) {
    .tarifas {
        font-size: 10px;
    }
}
/* reserva */
.reserva{
    background-color: rgba(0, 0, 0, 0.479);
    margin-top: 20vh;
    width: 500px;
    margin-bottom: 50vh;
}
@media (max-width: 600px) {
    .reserva {
        width: 90%;
    }
}
.info-reserva{
    float: right;
}

.cards{
    background-color: white;
    color: black;
}
.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.trajesYZapatos img{
    float: left;
}

/* footer */
.redes-sociales{
    border-radius: 25px;
}
